h1{
    text-align: center; 
    color: white;
    margin: 15px 0 5px;
}
body {
    background-color: #4e9cb4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   /* Stack items vertically instead of horizontally */
    align-items: center;      /* Center items horizontally */
}

form {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
div {
    margin-bottom: 10px;
}
label{
    display: block;
    margin-bottom: 5px;
    color:black;
    padding-left: 5px;
}
input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
button {
    display: block;
    margin: 20px auto 0;
    width: 50%;
    padding: 10px;
    margin:10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
button2-link {
    display: block;
    margin: 20px auto 0;
    width: 50%;
    padding: 10px;
    margin:10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}